.idea/
*.pyc
*.pth
dataset/
result.txt
test_results/
results/
logs/
.DS_Store
*.txt
*.ipynb
*.zip
Figures/ETTh1
Figures/ETTm2
*.jpg
*.png
*__pycache__/
*.vscode
*.json
*.env
drive_sync.py
.driveignore